<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="synNetEndPoint" value="http://api.striderdi.com/Strider/synnet/" />
    <add key="wordDefinitionEndPoint" value="http://api.striderdi.com/Strider/defnet/" />
    <add key="textMinerEndPoint" value="http://api.striderdi.com/Strider/textminer/" />
    <add key="clientServiceEndPoint" value="http://api.striderdi.com/Strider/client/" />
  </appSettings>
</configuration>